
.huddle-landing-page{
    background-image: url(src/assets/bg-hero-desktop.svg);
    width: 100%;
    height:70vh;
    background-color: #F7FDFF;
}

.top_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.top_section:nth-child(2){
    align-self: flex-start;
}

.build-text{
    font-family: Poppins;
    font-weight: 700;
    width: 70%;
    font-size: clamp(1.5rem, 2.5rem, 3vw);
    line-height: 50px;
}

.build-text1{
    margin-top: 4%;
    font-family: Open-sans;
    font-weight: 100;
    width: 70%;
    line-height: 30px;
    font-size: clamp(1rem, 1.3rem, 2vw);
}

.top-section-btn {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 26px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 291px;
    font-size: 14px;
    font-weight: 600;
    padding: 21px;
    background-color:  hsl(322, 100%, 66%);
    -webkit-box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
    -moz-box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
    box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
    border: inset #FFFFFF 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2.5%;
 }

.illustration-mockup{
    width: 100%;
    height: auto;
}

.grow-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    margin-top: 10%;
    padding: 10px;
    box-shadow: 1px 1px 15px 1px rgba(226, 222, 222, 0.75);
    -webkit-box-shadow: 1px 1px 15px 1px rgba(226, 222, 222, 0.75);
    -moz-box-shadow: 1px 1px 15px 1px rgba(226, 222, 222, 0.75);
    border-radius: 22px;
}

.g-text, .f-text, .y-text{
    font-family: Poppins;
    font-weight: 700;
    width: 70%;
    font-size: clamp(1.5rem, 1.65rem, 2.3vw);
    line-height: 50px; 
}

.g-text1, .your-text{
    font-family: Open-sans;
    font-weight: 200;
    width: 75%;
    line-height: 30px;
    font-size: clamp(1.2rem, 1.2rem, 2vw);
    color: hsl(208, 11%, 55%);
}

.illustration-grow{
    width: 80%;
    height: auto;
}

.illustration_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    margin-top: 2.4%;
    padding: 10px;
    box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
    -webkit-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
    -moz-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
    border-radius: 22px;
}

.grow-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 7%;
}

.flow_text1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flow-text{
    font-family: Open-sans;
    font-weight: 200;
    width: 100%;
    line-height: 28px;
    font-size: clamp(1.2rem, 1.2rem, 2vw);
    color: hsl(208, 11%, 55%);
}

.flow-img{
    padding: 7%;
}

.community{
    position: relative;
}

.comm-div{
    width: 45%;
    height: 28vh;
    margin-top: 10%;
    padding: 10px;
    box-shadow: 1px 1px 9px -1px rgba(226, 222, 222, 0.75);
    -webkit-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
    -moz-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.comm-div-tb{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

.get-btn{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 45px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    padding: 21px;
    background-color:  hsl(322, 100%, 66%);
    -webkit-box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
    -moz-box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
    box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
    border: inset #FFFFFF 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2.5%;
}

@media screen and (max-width: 600px){
    .huddle-landing-page{
        background-image: url(src/assets/bg-hero-desktop.svg);
        width: 100%;
        height:100vh;
        background-color: #F7FDFF;
    }
    
    .top_section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    .t-sec-text{
        display: grid;
        place-items: center;
    }

    .build-text{
        font-family: Poppins;
        font-weight: 700;
        width: 80%;
        font-size: clamp(1.5rem, 2rem, 3vw);
        line-height: 50px;
        text-align: center;
    }

    .build-text1{
        margin-top: 4%;
        font-family: Open-sans;
        font-weight: 100;
        width: 75%;
        line-height: 28px;
        font-size: clamp(1rem, 1.3rem, 2vw);
        text-align: center;
    }

    .top-section-btn{
        margin-top: 8%;
    }

    .top-section-img{
        margin-top: 80px;
    }

    .grow-section{
        display: flex;
        flex-wrap: wrap-reverse;
        height: 70vh;
        width: 90vw;
        margin-top: 50%;
        box-shadow: 1px 1px 15px 1px rgba(226, 222, 222, 0.75);
        -webkit-box-shadow: 1px 1px 15px 1px rgba(226, 222, 222, 0.75);
        -moz-box-shadow: 1px 1px 15px 1px rgba(226, 222, 222, 0.75);
        border-radius: 22px;
    }

    .grow-text{
        display: grid;
        place-items: center;
    }

    .g-text1, .flow-text, .your-text, .y-text{
        text-align: center;
        width: auto;
    }

    .grow-img, .flow-img{
        display: grid;
        place-items: center;
    }

    .grow-img :nth-child(1){
        width: 67%;
    }

    .illustration_sec{
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
        width: 90vw;
        margin-top: 15%;
        box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        -webkit-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        -moz-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        border-radius: 22px;
    }

    .ill_sec{
        display: flex;
        flex-wrap: wrap-reverse;
        height: 70vh;
        width: 90vw;
        margin-top: 15%;
        box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        -webkit-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        -moz-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        border-radius: 22px;
    }

    .illustration-grow{
        width: 80%;
        height: auto;
    }

    .f-text{
        width: auto;
        font-size: 1.45rem;
        line-height: 50px; 
    }

    .community{
        position: relative;
    }
    
    .comm-div{
        width: 94vw;
        height: 20vh;
        margin-top: 30%;
        padding: 10px;
        box-shadow: 1px 1px 9px -1px rgba(226, 222, 222, 0.75);
        -webkit-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        -moz-box-shadow: 1px 1px 9px 1px rgba(226, 222, 222, 0.75);
        border-radius: 20px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
    }
    
    .comm-div-tb{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5%;
    }

    .com-text{
        font-size: 1.2rem;
    }
    
    .get-btn{
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        height: 25px;
        line-height: 20px;
        color: #FFFFFF;
        font-family: Open Sans;
        width: 70vw;
        font-size: 14px;
        font-weight: 600;
        padding: 21px;
        background-color:  hsl(322, 100%, 66%);
        -webkit-box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
        -moz-box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
        box-shadow: 0 0 2px 0  hsl(322, 100%, 66%);
        border: inset #FFFFFF 1px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 320px){
    .com-text{
        font-size: 1rem;
    }

    .comm-div{
        height: 18vh;
    }
}