<div class="huddle-landing-page">
    <app-navbar></app-navbar>
    <div class="container top_section">
        <div class="top-section-text">
            <div class="t-sec-text">
                <h2 class="build-text">Build The Community <br> Your Fans Will Love</h2>
                <p class="build-text1">
                    Huddle re-imagines the way we build communities. You have a voice, but so does your audience. 
                    Create connections with your users as you engage in genuine discussion.
                </p>
                <button class="top-section-btn">Get Started For Free</button>
            </div>
        </div>
        <div class="top-section-img">
            <img src="assets/illustration-mockups.svg" alt="illustration-mockup" class="illustration-mockup">
        </div>
    </div>
</div>
<div class="container grow-section">
    <div class="grow-text">
        <h4 class="g-text">Grow Together</h4>
        <p class="g-text1">Generate meaningful discussions with your audience 
            and build a strong, loyal community. 
            Think of the insightful conversations you miss out on with a feedback form.
        </p>
    </div>
    <div class="grow-img">
        <img src="assets/illustration-grow-together.svg" alt="illustration-grow" class="illustration-grow">
    </div>
</div>
<div class="container flow-section ill_sec">
    <div class="flow-img">
        <img src="assets/illustration-flowing-conversation.svg" alt="flowing-conversation" class="illustration-grow">
    </div>
    <div class="grow-text">
        <h4 class="g-text">Flowing Conversations</h4>
        <p class="flow-text">You wouldn't paginate a conversation in real life, 
            so why do it online? 
            Our threads have just-in-time loading for a more natural flow.
        </p>
    </div>
</div>
<div class="container your-section ill_sec">
    <div class="grow-text">
        <h4 class="g-text">Your User</h4>
        <p class="your-text">It takes no time at all to integrate Huddle with your app's authentication solution. 
            This means, once signed in to your app,
             your users can start chatting immediately.
        </p>
    </div>
    <div class="grow-img">
        <img src="assets/illustration-your-users.svg" alt="user" class="illustration-grow">
    </div>
</div>
<div class="community">
    <div class="container comm-div">
    <div class="comm-div1">
        <div class="comm-div-tb">
            <h3 class="com-text">Ready To Build Your Community?</h3>
            <button class="get-btn">Get Started For Free</button>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>
