<footer class="container-fluid footer-section">
    <div class="footer-logo">
        <ul>
            <li>
                <img src="assets/logo.svg" alt="footer-logo" class="footer-l">
            </li>
            <li><i class="fa fa-map-marker"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua</p>
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i><p>+1-543-123-4567</p></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><p>example@huddle.com </p></li>
        </ul>
    </div>
    <div class="footer-info">
        <ul>
            <li>
                <a class="about" href="#">About Us</a>
            </li>
            <li><a class="what-wd" href="#">What We Do</a>
            </li>
            <li><a class="cta" href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <ul>
            <li>
                <a class="career" href="#">Career</a>
            </li>
            <li><a class="blog" href="#">Blog</a>
            </li>
            <li><a class="contact-u" href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="footer-sm">
        <ul class="f-sm">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>		
        </ul>
    </div>
</footer>
