<footer class="footer-section">
    <div class="container footer">
        <div class="footer_info">
            <ul>
                <li class="footer_logo">
                    <img src="assets/logo.svg" alt="footer-logo" class="footer-l">
                </li>
                <li class="lorem-text"><span class=""><i class="fa fa-map-marker"></i></span><a class="lorem-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua</a>
                </li>
                <li class="num"><i class="fa fa-phone" aria-hidden="true"></i><a class="lorem-t">+1-543-123-4567</a></li>
                <li class="num"><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="lorem-t">example@huddle.com </a></li>
            </ul>
                <ul class="footer-info">
                    <li>
                        <a class="about" href="#">About Us</a>
                    </li>
                    <li><a class="what-wd" href="#">What We Do</a>
                    </li>
                    <li><a class="cta" href="#">FAQ</a></li>
                </ul>
                <ul class="footer-contact">
                    <li>
                        <a class="career" href="#">Career</a>
                    </li>
                    <li><a class="blog" href="#">Blog</a>
                    </li>
                    <li><a class="contact-u" href="#">Contact Us</a></li>
                </ul>
                <ul class="footer-sm">
                    <li class="sm-b"><a href="#"><i class="i-cl fa fa-facebook"></i></a></li>
                    <li class="sm-b"><a href="#"><i class="i-cl fa fa-twitter"></i></a></li>
                    <li class="sm-b"><a href="#"><i class="i-cl fa fa-instagram"></i></a></li>		
                </ul>
            <p class="copy footer__copy">
                &copy; Copyright 2021 Huddle. All rights reserved.
              </p>
        </div>
    </div>
</footer>
