footer{
    box-sizing: 0;
}

li{
    color: #FFFFFF;
}

a{
    color: #FFFFFF;
}

.footer-section{
height: 70vh;
background-color:  hsl(192, 100%, 9%);
margin-top: 20%;
width: 100%;
display: flex;
justify-content: flex-end;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 70vh;
}

.lorem-text{
    font-family: Open-sans;
    font-size: 18px;
    width: 350px;
    margin-top: 2.5rem;
}

.num{
    margin-top: 1.5rem;
}

.footer-l{
    filter: brightness(0) invert(1);
}

.flex_item_footer_info, .flex_item_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_info :nth-child(4){
    align-self: center;
    margin-bottom: 42px;
}

.i-cl{
    margin: 10px;
}

.sm-b{
    margin: 12px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;
}

.lorem-t{
    padding: 20px;
}

.what_we_do, .faq, .career, .blog, .contact_u{
    margin-top: 0.9rem;
}

@media screen and (max-width: 600px){
    .footer-section{
        margin-top: 53%;
        height: 100%;
    }

    .footer_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 43%;
        height: 100vh;
    }
}
